<h1>Seja bem-vindo!</h1>
<ul>
  <li><a href="http://localhost:3000/kinds">Tipos</a></li>
  <li><a href="http://localhost:3000/contacts">Contatos</a></li>
  <li><a href="http://localhost:3000/addresses">Endereços</a></li>
  <li><a href="http://localhost:3000/phones">Telefones</a></li>
</ul>
